.modal-form-access{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
        width: auto;
        }
    }
    .modal-form-access__label{
        display: flex;
        align-items: center;

        font-size: 12px;
        line-height: 1.16;
        font-weight: 400;

        color: $title-text-color;

          @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.7;
        }
    }

    .modal-form-access__link{
        color: $accent-color;
        text-decoration: underline;
    }

    .modal-form-access__span{
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 8px;

        border: 2px solid black;
        border-radius: 4px;
        .modal-form-access__checkbox:checked + &{
            border: none;
            background-image: url('../../../images/icon-check.svg');
            fill: #fff;
            background-color: $accent-color;
        }
    }