.modal-form-access{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
width: auto;
      }
      @media screen and (min-width: 768px) {
        /* ... */
      }
}
    .modal-form-access__label{

        position: absolute;
        right: 0;
        display: flex;

        font-size: 12px;
        line-height: 1.16;
        font-weight: 400;


        color: $title-text-color;

          @media screen and (min-width: 1200px) {
            right: 7px;
            font-size: 14px;
            line-height: 1.7;
            
        }
    }

    .modal-form-access__link{
        margin-left: 4px;
    
        color: $accent-color;
        text-decoration: underline;
    }

    .modal-form-access__checkbox{
        position: absolute;
        -webkit-appearance: none;
    }

    .modal-form-access__icon{
        position: absolute;
        top: 0;
        right: 100%;
        display: inline-block;
        margin-right: 8px;
    
        border: 2px solid black;
        border-radius: 4px;
        fill: white;
        @media screen and (min-width: 1200px) {
            top: 4px;
          
      }
        .modal-form-access__checkbox:checked + &{
            background-origin: content-box;
            fill: white;
            background-color: $accent-color;
            border-radius: 4px;
            border: none;
        }
    }