.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: -30px;
    margin-right: -30px;
    
    transition: fill 250ms $transition, background 250ms $transition;
        @media screen and (min-width: 480px) {

        }
        @media screen and (min-width: 768px) {
        /* ... */
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
    }
.clients__item{
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;
    @media screen and (min-width: 480px) {

    }
    @media screen and (min-width: 768px) {
    /* ... */
    }
    @media screen and (min-width: 1200px) {

    }
}
    .clients__link {
        display: flex;
        justify-content: center;
        padding: 16px 32px;
    
        background: $address;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid $fill;
    
        transition: fill 250ms $transition, border 250ms $transition;

        &:focus, &:hover {
            border: 1px solid $accent-color;
            color: $accent-color;
            fill: $accent-color;
            }
        }

    .clients__icon {
        height: 60px;
        width: 106px;
        fill: $fill;

        transition: fill 250ms $transition;

        .clients__link:hover &, .clients__link:focus &{
        fill: $accent-color;
        color: $accent-color;
        }
    }