.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    transition: fill 250ms $transition, background 250ms $transition;

        @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            margin-bottom: -30px;
            margin-left: -30px;
        }
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            margin-top: 30px;
            margin-bottom: -30px;
            margin-left: -30px;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            margin: auto;
            margin-top: 50px;
        }
    }
.clients__item{
    margin-bottom: 30px;
    margin-left: 30px;
    @media screen and (min-width: 480px) {
        width: calc((100% - 2 * 30px) / 2);
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 3 * 30px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
        margin: 0;
    }
}
    .clients__link {
        display: flex;
        justify-content: center;
        padding: 16px 32px;
    
        background: $address;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid $fill;
    
        transition: fill 250ms $transition, border 250ms $transition;

        &:focus, &:hover {
            border: 1px solid $accent-color;
            color: $accent-color;
            fill: $accent-color;
            }
        }

    .clients__icon {
        height: 60px;
        width: 106px;
        fill: $fill;

        transition: fill 250ms $transition;

        .clients__link:hover &, .clients__link:focus &{
        fill: $accent-color;
        color: $accent-color;
        }
    }