.team {
    margin-top: 30px;
    @media screen and (min-width: 480px) {
        margin-top: 30px;
    }
    @media screen and (min-width: 768px) {
      /* ... */
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.team__title {
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
}
.team__item {
    text-align: center;
    
    background: $address;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child){
        margin-bottom: 30px;
    }
    @media screen and (min-width: 480px) {
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
      /* ... */
    }
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
.team__description {
    padding: 30px 0;
}
.team__text {
    margin-bottom: 16px;
    
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    color: $title-text-color;
}