.auth-nav{
    display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
      @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
}
    .auth-nav__item{

        &:hover, &:focus{
            color: $title-text-color;
            fill: $accent-color;
            }

        @media screen and (min-width: 768px) {
          font-size: 12px;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        @media screen and (min-width: 1200px) {
          font-size: 14px;
          &:not(:last-child){
            margin-bottom: 0;
              margin-right: 50px;
          }
    }
}

    .auth-nav__link{
        text-align: center;
        align-items: center;
        color: $title-text-color;
    
        transition: color 250ms $transition;

        &:hover, &:focus{
            cursor: pointer;
            color: $accent-color;
            fill: $accent-color;
        }
          @media screen and (min-width: 768px) {
            display: flex;
            font-size: 12px;
          }
          @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: center;
            font-size: 14px;
          }
    }

    .auth-nav__icon{
        fill: #757575;
        @media screen and (min-width: 768px) {
            width: 14px;
            margin-right: 8px;
          }
          @media screen and (min-width: 1200px) {
            margin-right: 10px;

          }
    }

