.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}
.page-header{
    background-color: #fff;
    @media screen and (max-width: 768px) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 16px 0;
        z-index: 5;
      }
      @media screen and (min-width: 768px) {
        position: relative;
      }
}

.logo-style {
    color: $accent-color;
}

.secondary-logo {
    color: $address;
}
