@media screen and (min-width: 480px) {
    /* ... */
  }
  @media screen and (min-width: 768px) {
    /* ... */
  }
  @media screen and (min-width: 1200px) {
    /* ... */
  }
$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$bg-color: #2f303a;
$address: #ffffff;
$button-two: #f5f4fa;
$fill: #AFB1B8;
$transition: cubic-bezier(0.4, 0, 0.2, 1);

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    line-height: 1.14;

    background-color: var(--address);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 480px;
        &--header {
          width: 100%;
          padding: 0 15px;
        }
      }
      @media screen and (min-width: 768px) {
        width: 768px;
        margin: 0 auto;
      }
      @media screen and (min-width: 1200px) {
        width: 1200px;
        margin: 0 auto;
      }
}

.section {
  width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    &--color {
      width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $button-two;
    }
    &--no-padding{
      width: 100%;
        padding-bottom: 60px;
        padding-top: 0;
    }
      @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        &--color {
            padding-top: 94px;
            padding-bottom: 94px;
            background-color: $button-two;
        }
        &--no-padding{
            padding-bottom: 94px;
            padding-top: 0;
        }
      }

}
.section__title {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    @media screen and (min-width: 480px) {
        font-size: 28px;
      }
      @media screen and (min-width: 768px) {
        font-size: 28px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 36px;
      }
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.flex {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}
textarea{
    resize: none;
}
.no-margin{
    margin: 0;
}
